:root {
  --white: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 5%, 41%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
  --paragraph: 1rem;
  --outfit-weight-400: 400;
  --outfit-weight-600: 600;
  --outfit-weight-700: 700;
  --serif: 400;
}

@font-face {
  font-family: "young-serif";
  src:
    url("./assets/fonts/young-serif/YoungSerif-Regular.ttf"), format("woff2");
  font-weight: var(--serif);
  font-style: normal;
}

@font-face {
  font-family: "outfit";
  src:
    url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf"), format("woff2");
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-size: var(--paragraph);
  font-family: "young-serif";
}

body {
  width: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--Stone-100);
  color: var(--Stone-600);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

.main {
  background-color: var(--white);
  padding: 2rem;
  max-width: 650px;
  border-radius: 1.5rem;
  margin: 2rem;
  font-weight: 500;
}

.text__container_h1 {
  color: var(--Stone-900);
  font-size: 2.5rem;
  font-weight: var(--outfit-weight-400);
  margin-block: 1rem;
  margin-top: 1.5rem;
}

.text__container_p {
  font-family: "outfit";
}

.preparation__time__h2 {
  color: var(--Rose-800);
  font-size: 1.2rem;
  font-family: "outfit";
}
.preparation__time {
  background-color: var(--Rose-50);
  margin-block: 2rem;
  padding: 2rem;
  border-radius: 0.7rem;
}

.preparation__time__ul {
  padding-left: 1.5rem;
}

.preparation__time__ul li {
  margin-block: 1rem;
  list-style-type: disc;
  padding-left: 1rem;
  font-family: "outfit";
}

li::marker {
  color: var(--Brown-800);
  font-size: 0.8rem;
  font-weight: var(--outfit-weight-700);
}

h4 {
  color: var(--Brown-800);
  font-size: 1.7rem;
  font-weight: var(--outfit-weight-400);
  margin-block: 1rem;
}

.ingredients {
  border-bottom: 1px solid #e8e2e2;
  padding-bottom: 1em;
}

.ingredients__ul {
  padding-left: 1.2rem;
}

.ingredients__ul li {
  padding-left: 1rem;
  margin-block: 1rem;
  font-family: "outfit";
}
b {
  font-family: "outfit";
}

.instructions {
  margin-top: 2rem;
  border-bottom: 1px solid #e8e2e2;
  padding-bottom: 1em;
}

.instructions__ul li {
  padding-left: 1rem;
  margin-block: 1rem;
  font-family: "outfit";
}

.instructions__ul {
  padding-left: 1.4rem;
}

.nutrition {
  margin-top: 2rem;
}
.nutrition__p {
  font-family: "outfit";
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid #e8e2e2;
}

.no__border {
  border-bottom: none;
}

td {
  padding: 1rem;
  font-family: "outfit";
  font-weight: var(--outfit-weight-700);
}
.nutrition__value {
  color: var(--Brown-800);
}



/* mobile responsiveness */
@media screen and (max-width: 600px) {
* {
    font-size: 1rem;
 }

img {
  border-radius: 0;
}
.main {
  padding: 0;
  border-radius: 0rem;
  margin: 0rem;
}

.text__container{
    padding-inline: 1.5rem;
}

.text__container_h1 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

.preparation__time__ul li {
  padding-left: .7rem;
}

.attribution{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}

}